<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>MaServlet</servlet-name>
    <servlet-class>eu.ensup.gestionformation.MaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MaServlet</servlet-name>
    <url-pattern>/ListeFormation</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>FormulaireInscriptionServlet</servlet-name>
    <servlet-class>eu.ensup.gestionformation.FormulaireInscriptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormulaireInscriptionServlet</servlet-name>
    <url-pattern>/Inscription</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>FormulaireAuthentificationServlet</servlet-name>
    <servlet-class>eu.ensup.gestionformation.FormulaireAuthentificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormulaireAuthentificationServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>

</web-app>
